simulation time 	= 100
time window 			= 5
host 							= localhost
port 						  = 9999
simulation speed 	= 1

UUV   {
	name 	= nautilus
	speed 	= 0:5:40
	port	= 8888
}

SENSOR   {
	name 		= SENSOR1
	rate 		= 3
	reliability	= 0.9
	change		= 10:50:2
}

SENSOR   {
	name 		= SENSOR2
	rate 		= 4
	reliability	= 0.8
	change		= 50:100:3
}

SENSOR   {
	name 		= SENSOR3
	rate 		= 3
	reliability	= 0.5
	change		= 50:100:4
}
