#---------------------------------------------------------------------------
# Missions properties
#---------------------------------------------------------------------------

TIME_WINDOW		= 2

SIMULATION_TIME = 10


#------------------------------------------
#UUV config block
#------------------------------------------
UUV
{
  NAME			= UUV
  HOST			= localhost
  PORT			= 8888
}


#------------------------------------------
#sSensor config block
#------------------------------------------
SENSOR
{
  NAME			= SENSOR1
  RATE      = 5

  DEGRADATION	= 50:100:1
  DEGRADATION	= 150:200:0.1
}
