simulation time 	= 1000
time window 		= 5
host 				= localhost
port 				= 9999
simulation speed 	= 5

UUV   {
	name 	= nautilus
	speed 	= 0:4:10
	port	= 8888
}

SENSOR   {
	name 		= SENSOR1
	rate 		= 5
	reliability	= 0.97	
}

SENSOR   {
	name 		= SENSOR2
	rate 		= 4
	reliability	= 0.89
}

SENSOR   {
	name 		= SENSOR3
	rate 		= 4
	reliability	= 0.83
}

SENSOR   {
	name 		= SENSOR4
	rate 		= 3
	reliability	= 0.74
}

SENSOR   {
	name 		= SENSOR5
	rate 		= 2
	reliability	= 0.5
}
